pipeline/Parent_SP.json
{
	"name": "Parent_SP",
	"properties": {
		"activities": [
			{
				"name": "start of parent",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logs].[uspLogsInfoHrcyStart]",
						"storedProcedureParameters": {
							"adfName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"parentid": {
								"type": "Int32",
								"value": null
							},
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"runID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"startTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_database",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "parent for end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logs].[uspLogsInfoHrcyend]",
					"storedProcedureParameters": {
						"endtime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"errorMessages": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('start of parent').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": "success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_server",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "start of parent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "child_sp",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"parentid": {
							"value": "@activity('start of parent').output.firstRow.id",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-21T09:32:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}